Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
fwzsapp
fwzsd
fwzsd.service
install-sh
missing
.*.swp
org.opensuse.zoneswitcher.service
fwzsapp.desktop
